.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	image-rendering: pixelated
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: block
}